:host {
  margin-top: 25px;
  padding: 25px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--black-010);

  h2 {
    text-align: center;
    margin: ;
  }
}
