.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transform: 0.5s;
  cursor: pointer;

  &.btn-primary,
  &.btn-secondary {
    padding: 10px;
  }
}
