<header>
  <img src="./../../../../../assets/img/euMesmo.jpg" alt="Foto de Perfil" width="130px" height="130px" loading="eager">
  <h1 class="entry-title">Alex Galdino</h1>
</header>
<aside>
  <div class="container">
    <p>Full-stack Javascript | Angular | NodeJs | NestJs</p>
    <p>Contagem, Minas Gerais, Brasil</p>
    <p>
        Estou na área de desenvolvimento de software a mais de 30 anos, e agora me especializando em desenvolvimento WEB. Devido a isso resolvi abraçar a stack JS pois atua no Frontend e no Backend.
    </p>
    <nav>
      
    </nav>
  </div>
</aside>
