<header>
  <img src="../../../../../assets/img/euMesmo.jpg" alt="Foto de Perfil" width="130px" height="130px" loading="eager">
  <h1 class="entry-title">Alex Galdino</h1>
</header>
<aside>
  <div class="container">
    <p>Full-stack Javascript | Angular | NodeJs | NestJs</p>
    <p>Contagem, Minas Gerais, Brasil</p>
    <p>
        Estou na área de desenvolvimento de software a mais de 30 anos, e agora me especializando em desenvolvimento WEB. Devido a isso resolvi abraçar a stack JS pois atua no Frontend e no Backend.
    </p>
    <nav>
      <ul>
        <li>
          <a href="../../../../../assets/pdf/CvAlex.pdf" target="_blank" class="btn btn-primary">Download CV</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/alex-de-souza-galdino-4b619816/" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img src="../../../../../assets/icons/whatsapp.svg" alt="Ícone para contato do WhatsApp" width="22px" height="24px">
      </figure>
      <figcaption>
        <a href="https://api.whatsapp.com/send?phone=5531990196085&text=Ol%C3%A1%20Alex,%20preciso%20de%20um%20job!" target="_blank">
          <strong>Envia uma mensagem para:</strong>
          <p>WhatsApp: (31) 99819-6</p>
        </a>
      </figcaption>
    </section>
  </div>
</aside>
